body {
    padding: 0;
    margin: 0;
    border: 0;
    font: 13px Verdana,微软雅黑,Geneva,sans-serif;
    color: #666;
    line-height: 32px;
    background-color: #fafafa;
}

body * {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    transition: ease-in-out 0.5s;
}

a {
    color: #666;
    text-decoration: none;
}

a:visited,
a:link {
    color: #666;
    text-decoration: none;
}

ul {
    list-style: none;
    font-size: 0;
}

#content {
    width: 1080px;
    height: 1200px;
    margin: auto;
    background-color: #fff;
}
