/*
*{
    margin: 0;
    padding: 0;
}

body *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font: 13px Verdana,微软雅黑,Geneva,sans-serif;
    line-height: 32px;
    color: #666;
    background: #fafafa;
}
h1,h2,h3,h4{
    font-weight: normal;
}
h3{
    font-size: 18px;
}
li{
    list-style: none;
    font-size: 14px;
}
a, a:hover {
    text-decoration: none;
}
a {
    color: #333;
}
a, input, textarea, b, button, i, li, h2, h3, span, img, strong, *::before, *::after, .sub-menu li, .share-btn, .salong_search, #test_respond, .share-popup, .bg, .lg, .swiper-button {
    -moz-transition: ease-in-out 0.5s;
    -webkit-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    -ms-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
}


.footer{
    background-color: #fff;
    border-top:1px solid #f4f4f4;
    padding: 48px 0;
    clear: both;
    overflow: hidden;
    margin-top: 60px;
}
.wrapper{
    width: 1080px;
    margin: 0 auto;
}
.left{
    float: left;
}
.right{
    float: right;
}

.footer-nav a{
    padding-right: 8px;
}
.footer-nav a:hover{
    color: #d11f3c;
}
.footer-menu{
    margin-bottom: 8px;
}
.footer-menu li{
    display: inline-block;
}
.footer-menu li a{
    display: block;
    padding: 0 20px 0 4px;
}
.footer-menu li a:hover{
    color: #d11f3c;
}
.copyright{
    padding-left: 5px;
}

.footer-logo a, .footer-logo span{
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
}
.footer-logo span i{
    width: 56px;
    height: 56px;
    line-height: 48px;
    border-radius: 100%;
    border: 1px #eee solid;
    display: inline-block;
    text-align: center;
    background-color: #f8f8f8;
}
.footer-logo span.weixin i {
    color: #14d212;
    font-size: 35px;
}
.footer-logo span.app i {
    color: #98c13d;
    font-size: 22px;
}
.social .btn i:hover, .footer-logo span i:hover {
    color: #fff;
}
.footer-logo span.weixin i:hover {
    background-color: #14d212;
}
.footer-logo span.app i:hover {
    background-color: #98c13d;
}
*/

/*footer*/
body {
    padding: 0;
    margin: 0;
    border: 0;
    font: 13px Verdana,微软雅黑,Geneva,sans-serif;
    color: #666;
    line-height: 32px;
    background-color: #fafafa;
}

body * {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    transition: ease-in-out 0.5s;
}

a {
    color: #666;
    text-decoration: none;
}

a:visited,
a:link {
    color: #666;
    text-decoration: none;
}

ul {
    list-style: none;
    font-size: 0;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,.8);
    visibility: hidden;
}

.bg.active {
    visibility: visible;
    opacity: 0.7;
}

#footer {
    margin-top: 60px;
    padding: 48px 0 32px;
    background-color: #fff;
    border-top: 1px solid #f4f4f4;
    clear: both;
    overflow: hidden;
}

#footer a {
    color: #333;
}

#footer .footer_wp {
    width: 1080px;
    margin: auto;
}

#footer .footer_nav {
    float: left;
}

#footer .footer_menu {
    margin-bottom: 8px;
}

#footer .footer_menu > ul > li {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

#footer .footer_menu > ul > li > a {
    display: block;
    padding: 0 24px 0 4px;
    font-size: 14px;
    color: #333;
}

#footer .footer_menu > ul > li > a:hover {
    color: #eb0127;
    transition: ease-in-out .5s;
}

#footer .footer_logo {
    float: right;
}

#footer .footer_logo a,
#footer .footer_logo span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

#footer .footer_logo span i {
    display: inline-block;
    width: 56px;
    height: 56px;
    font-size: 25px;
    line-height: 48px;
    border: 1px solid #eee;
    background-color: #f8f8f8;
    border-radius: 100%;
    cursor: pointer;
    text-align: center;
}

#footer .footer_logo span i:hover {
    color: #fff;
    transition: linear 1s;
}

#footer .footer_logo span.weixin {
    color: #14d212;
}

#footer .footer_logo span.weixin i {
    font-size: 30px;
}

#footer .footer_logo span.weixin i:hover {
    background-color: #14d212;
}

#footer .footer_logo span.app {
    color: #98c13d;
}

#footer .footer_logo span.app i:hover {
    background-color: #98c13d;
}

#footer .footer_logo span img {
    position: fixed;
    top: 15%;
    left: 40%;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #eee;
    transition-delay: 200ms;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: ease-in-out .5s;
}

#footer .footer_logo span img.active {
    visibility: visible;
    top: 20%;
    opacity: 1;
}

#footer .footer_link {
    padding-top: 16px;
    clear: both;
    overflow: hidden;
}

#footer .footer_link h4 {
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
}

#footer .footer_link ul {
    display: inline-block;
}

#footer .footer_link ul li {
    display: inline-block;
    padding: 0 8px;
}

#footer .footer_link ul li a {
    color: #333;
    font-size: 14px;
}

#footer .footer_link ul li a:hover {
    color: #eb0127;
    transition: ease-in-out .5s;
}















