body {
    padding: 0;
    margin: 0;
    border: 0;
    font: 13px Verdana,微软雅黑,Geneva,sans-serif;
    color: #666;
    line-height: 32px;
    background-color: #fafafa;
}

body * {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    transition: ease-in-out 0.5s;
}

a {
    color: #666;
    text-decoration: none;
}

a:visited,
a:link {
    color: #666;
    text-decoration: none;
}

ul {
    list-style: none;
    font-size: 0;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .6;
    z-index: 9999;
}

#header ul li:hover {
    color: #eb0127;
}

#header ul li a:hover {
    color: #eb0127;
}

#header {
    height: 106px;
    margin-bottom: 24px;
    border: 1px solid #eee;
    background-color: #fff;
}

#header .header_wp {
    width: 1080px;
    margin: auto;
}

#header .header_logo {
    float: left;
    padding: 30px 0;
}

#header .header_logo img {
    height: 38px;
}

#header .header_nav {
    float: right;
}

#header .nav_top {
    height: 42px;
    text-align: right;
    margin-right: 6px;
}

#header .nav_top a {
    position: relative;
    display: inline-block;
    padding: 8px 5px;
    color: #666;
    cursor: pointer;
}

#header .nav_top a:hover {
    color: #eb0127;
}

#header .nav_top a i {
    width: 14px;
    display: inline-block;
    margin-right: 6px;
}

#header .nav_top .icon-iconedit {
    font-size: 15px;
}

#header .nav_top .icon-pluscircled {
    font-size: 13px;
}


#header .list_item {
    position: relative;
    display: inline-block;
    margin-right: 1px;
    font-size: 14px;
}

#header .list_item a {
    display: block;
    text-align: center;
    padding: 16px 10px;
    font-size: 15px;
    color: #000;
}

#header .list_item_has_sub_menu a {
    padding-right: 18px;
}

#header .current_item a {
    color: #eb0127;
}

#header .current_item a:after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 50%;
    margin-left: -16px;
    height: 2px;
    width: 32px;
    background-color: #eb0127;
}

#header .list_item_has_sub_menu:after {
    content: "\e60c";
    font-family: "iconfont";
    position: absolute;
    top: 19px;
    right: 4px;
}

#header .list_item_menu_search a {
    padding: 16px 8px;
}

#header .list_item_menu_search .search {
    position: fixed;
    left: 50%;
    top: 10%;
    width: 650px;
    margin-left: -325px;
    padding: 20px 48px 48px;
    background-color: rgba(255,255,255,.3);
    transition-delay: 200ms;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: ease-in-out 0.5s;
}

#header .list_item_menu_search .search.active {
    top: 35%;
    opacity: 1;
    visibility: visible;

}

#header .search h2 {
    position: relative;
    color: #fff;
    margin-bottom: 12px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
}

#header .search h2 i {
    position: absolute;
    top: 0;
    left: 224px;
}

#header .menu_search_form {
    width: 100%;
    padding: 0 80px;
}

#header select {
    background-image: url("http://www.yeoner.com/wp-content/themes/yewan/images/select-arrow.png");
    background-position: center right;
    background-repeat: no-repeat;
    outline: none;
    background-color: #fff;
    color: #000;
    align-items: center;
    border-radius: 5px;
    /*取消浏览器默认样式*/
    -webkit-appearance: none;
}

#header .menu_search_form .search_type {
    margin-left: -80px;
    height: 36px;
    padding: 2px 36px 2px 4px;
    border: 0;
}

#header .menu_search_form input {
    height: 36px;
}

#header .menu_search_form .text_input {
    width: 100%;
    padding: 8px;
    background-color: #f8f8f8;
    border: 1px solid #eee;
    display: inline-block;
    text-align: start;
}

#header .menu_search_form .search_btn {
    width: 80px;
    margin-right: -80px;
    background-color: #d11f3c;
    color: #fff;
    border: none;
    cursor: pointer;
}

#header .menu_search_form .search_btn:hover {
    background-color: #eb0127;
}

#header .list_item .sub_menu {
    position: absolute;
    top: 56px;
    min-width: 100%;
    max-height: 0;
    z-index: 1000;
    perspective: 400px;
}

#header .sub_menu li {
    transition: ease-in-out 0.5s;
    opacity: 0;
    transform: rotateY(90deg);
    min-width: 100%;
}

#header .sub_menu li a{
    border-bottom: 1px solid #eee;
    display: block;
    white-space: nowrap;
    font-size: 15px;
    padding: 12px;
    background-color: #fff;
}

/*#header .sub_menu li:nth-child(5) {*/
    /*transition-delay: 400ms;*/
/*}*/

/*#header .sub_menu li:nth-child(4) {*/
    /*transition-delay: 300ms;*/
/*}*/

/*#header .sub_menu li:nth-child(3) {*/
    /*transition-delay: 200ms;*/
/*}*/

/*#header .sub_menu li:nth-child(2) {*/
    /*transition-delay: 100ms;*/
/*}*/

/*#header .sub_menu li:nth-child(1) {*/
    /*transition-delay: 0ms;*/
/*}*/

#sign {
    position: fixed;
    top: -500px;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    z-index: 99999;
    opacity: 0;
    min-height: 200px;
    perspective: 800px;
    transition: all .3s ease-out;
}

#sign,
#sign a {
    font-size: 12px;
}

#sign .part {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    padding: 50px;
    border-radius: 4px;
    transform-style: preserve-3d;
    /*隐藏被旋转元素的背面*/
    backface-visibility: hidden;
}

#sign.sign .part.loginPart {
    /*transform: rotateY(0deg);*/
    z-index: 0;
    display: block;
}

#sign.sign .part.registerPart {
    /*transform: rotateY(-180deg);*/
    z-index: 1;
    display: block;
}

#sign form h3 {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 42px;
    font-size: 18px;
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 42px;
}

#sign .switch {
    color: #999;
    cursor: pointer;
    margin: 15px auto;
    display: inline-block;
}

#sign .switch i {
    margin-right: 5px;
    color: #eb0127;
}

#sign form p {
    position: relative;
    margin: 10px auto;
}

#sign form label .iconfont {
    position: absolute;
    top: 6px;
    right: 10px;
    color: #bbb;
    font-size: 14px;
    cursor: pointer;
}

#sign form input {
    width: 100%;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

#sign input[type="checkbox"] {
    vertical-align: middle;
    cursor: pointer;
}

#sign input.input-control {
    padding-right: 35px;
}

#sign .safe {
    color: #999;
    margin-top: 20px;
}

#sign form .rememberme {
    width: inherit;
    margin-right: 3px;
}

#sign form .forgot {
    float: right;
}

#sign form .forgot:hover {
    color: #eb0127;
}

#sign form .submit {
    cursor: pointer;
    background-color: #d11f3c;
    color: #fff;
    border: 0;
    font-size: 14px;
}

#sign form .submit:hover {
    background-color: #eb0127;
}

#sign form .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    color: #999;
    transform: rotateZ(0deg);
    cursor: pointer;
    border-radius: 100%;
}

#sign form .close:hover {
    color: #eb0127;
    transition: ease-in-out .5s;
}

#sign .other-sign {
    border-top: 1px solid rgba(0,0,0,.1);
    margin: 20px -50px auto -50px;
    padding: 0 50px;
}

#sign .other-sign p {
    margin: 10px auto 10px auto;
}

#sign .other-sign > div {
    width: 33.33%;
    float: left;
    padding-right: 6px;
    text-align: center;
}

#sign .other-sign > div a {
    display: block;
    padding: 4px;
}

#sign .other-sign a i {
    margin-right: 5px;
}

#sign .other-sign .weixinlogin {
    background-color: #44b549;
    color: #fff;
}

#sign .other-sign .qqlogin {
    background-color: #4a9cf8;
    color: #fff;
}

#sign .other-sign .weibologin {
    background-color: #e14d4c;
    color: #fff;
}

#sign .registerPart .icon-email {
    font-size: 18px;
}

#sign .registerPart .icon-xunhuan {
    font-size: 18px;
}

#sign .registerPart .captcha_inline {
    padding-right: 94px;
    overflow: hidden;
}

#sign .registerPart .captcha_inline .input-control {
    float: left;
    width: 100%;
    padding-right: 10px;
}

#sign .registerPart .captcha_inline img {
    margin-right: -94px;
    float: right;
    cursor: pointer;
    width: 90px;
}