/*toTop*/
body {
    padding: 0;
    margin: 0;
    border: 0;
    font: 13px Verdana,微软雅黑,Geneva,sans-serif;
    color: #666;
    line-height: 32px;
    background-color: #fafafa;
}

body * {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    transition: ease-in-out 0.5s;
}

a {
    color: #666;
    text-decoration: none;
}

a:visited,
a:link {
    color: #666;
    text-decoration: none;
}
#toTop {
    position: fixed;
    right: 10px;
    bottom: 68px;
    z-index: 100;
}

#toTop .top_btn {
    width: 40px;
    height: 40px;
    display: none;
    background-color: #f4f4f4;
    border-radius: 4px;
    text-align: center;
    line-height: 36px;
    color: #999;
}

#toTop .top_btn:hover {
    color: #fff;
    background-color: #eb0127;
    transition: linear .1s;
}

#toTop .top_btn i {
    font-size: 30px;
    font-weight: bold;
}