*{
    margin: 0;
    padding: 0;
}

body *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font: 13px Verdana,微软雅黑,Geneva,sans-serif;
    line-height: 32px;
    color: #666;
    background: #fafafa;
}
h1,h2,h3,h4{
    font-weight: normal;
}
h3{
    font-size: 18px;
}
li{
    list-style: none;
    font-size: 14px;
}
a, a:hover {
    text-decoration: none;
}
a {
    color: #333;
}
a, input, textarea, b, button, i, li, h2, h3, span, img, strong, *::before, *::after, .sub-menu li, .share-btn, .salong_search, #test_respond, .share-popup, .bg, .lg, .swiper-button {
    -moz-transition: ease-in-out 0.5s;
    -webkit-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    -ms-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
}

/*主体*/
#content{
    width: 1080px;
    margin: 0 auto;
}
#content>div{
    margin-bottom: 36px;
}
/*主体-top*/
.wrap{
    padding: 12px;
    overflow: hidden;
    background-color: #fff;
    border: 1px #f4f4f4 solid;
    position: relative;
}
.wrap::before{
    position: absolute;
    content: '';
    width: 92%;
    height: 1px;
    right: 20px;
    top: 34px;
    background-color: #eee;
    z-index:1;
}
.left{
    float: left;
}
.right{
    float: right;
}
.wrap-left,.wrap-right{
    background: #fff;
    position: relative;
    z-index: 10;
}
.wrap-left h3{
    height: 40px;
    line-height: 40px;
    background-color: #d11f3c;
    color: #fff;
    display: inline-block;
    padding: 0 28px;
    margin-right: 8px;
    position: relative;
}
.wrap-left h3::before,.wrap-left h3::after{
    content: "";
    position: absolute;
    border: 12px transparent solid;
    display: block;
    height: 0;
    width: 0;
    top: 8px;
    -webkit-transform: scaleY(2);
    -moz-transform: scaleY(2);
    -ms-transform: scaleY(2);
    -o-transform: scaleY(2);
    transform: scaleY(2);
}
.wrap-left h3::before{
    border-left-width: 0;
    border-right-color: #fff;
    right: 0;
}
.wrap-left h3::after{
    border-right-width: 0;
    border-left-color: #fff;
    left:0;
}
.wrap-left ul li{
    margin: 0 16px;
    display: inline-block;
}
.wrap-left h3, .wrap-left ul{
    display: inline-block;
    vertical-align: middle;
}
.wrap-left .current-cat a{
    display: block;
    padding: 0 12px;
    border: 1px solid #eee;
    background-color: #f8f8f8;
}
.wrap a:hover{
    color: red;
}
.wrap-right{
    padding: 4px 0 4px 12px;
    color: #999;
    display: block;
}
.wrap-right a{
    color: #999;
}
/*主体-正文*/
.video-title{
    min-height: 40px;
    border-bottom: 1px solid #eee;
    margin-bottom: 12px;
    position: relative;
    text-align: right;
}
.video-title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #d11f3c;
    width: 80px;
    height: 1px;
}
.video-title h3{
    color: #333;
    position: absolute;
    top: -1px;
    left: 3px;
    padding: 4px 0;
}
.video-title .swiper-pagination > span{
    width: 9px;
    height: 9px;
    border-radius: 100%;
    margin: 0 3px;
    background-color: #ddd;
    display: inline-block;
}
.video-title .swiper-pagination .swiper-pagination-bullet{
    background-color: #666;
}
.video-title .swiper-button{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid #eee;
    text-align: center;
    line-height: 16px;
    font-size: 11px;
}
.swiper-266-button-prev::before{
    content: '<';
}
.swiper-266-button-next::before{
    content: '>';
}
.video-title h3, .video-title > div{
    display: inline-block;
    vertical-align: middle;
}

.swiper-container{
    clear: both;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    height:auto;
    z-index: 1;
}
.swiper-wrapper{
    position: relative;
    width: auto;
    height: auto;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.swiper-container > .swiper-wrapper {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-fles-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.test_list .test_main{
    background-color: #fff;
    border: 1px #f4f4f4 solid;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative;
    margin-top: 0 !important;
}
.swiper-slide-active {
    z-index: 999;
}
.test_list .test_main img {
    width: 100%;
}
.test_list .test_main h3 {
    margin: 8px;
}
.test_list .test_count span{
    padding: 2px 8px;
    margin: 0 4px;
    border-radius: 4px;
}
.test_list .test_apply .test_count span{
    color: #d11f3c;
    border: 1px solid #d11f3c;
}
.test_list .test_ing .test_count span{
    color: #6fd469;
    border: 1px solid #6fd469;
}
.test_main .comment_count{
    font-size: 16px;
    line-height: 36px;
}
.test_main .comment_count span{
    color: #d11f3c;
}
.test_main.test_apply .test_state{
    color: #d11f3c;
}
.test_main.test_ing .test_state{
    color: #6fd469;
}























































