#content {
    width: 1080px;
    margin: auto;
}

#content .container > section {
    margin-bottom: 36px;
}

#content .container .crumbs_wrap {
    position: relative;
    padding: 12px;
    overflow: hidden;
    line-height: 32px;
    background-color: #fff;
    border: 1px solid #f4f4f4;
}

#content .container .crumbs_wrap:before {
    position: absolute;
    top: 34px;
    right: 20px;
    content: "";
    width: 92%;
    height: 1px;
    background-color: #eee;
    z-index: 1;
}

#content .crumbs_wrap .crumbs_cate,
#content .crumbs_wrap .crumbs {
    position: relative;
    background-color: #fff;
    z-index: 10;
}

#content .crumbs_cate h3,
#content .crumbs_cate ul {
    vertical-align: middle;
    display: inline-block;
}

#content .crumbs_cate h3 {
    position: relative;
    display: inline-block;
    padding: 0 28px;
    margin-right: 8px;
    height: 40px;
    line-height: 40px;
    background-color: #d11f3c;
    color: #fff;
}

#content .crumbs_cate h3:before,
#content .crumbs_cate h3:after {
    position: absolute;
    top: 8px;
    content: "";
    height: 0;
    width: 0;
    display: block;
    border: 12px solid transparent;
    transform: scaleY(2);
}

#content .crumbs_cate h3:before {
    right: 0;
    border-left-width: 0;
    border-right-color: #fff;
}

#content .crumbs_cate h3:after {
    left: 0;
    border-right-width: 0;
    border-left-color: #fff;
}

#content .crumbs_cate ul {
    margin-bottom: -4px;
}

#content .crumbs_cate ul li {
    margin: 0 16px;
    display: inline-block;
}

#content .crumbs_cate .current_cat a {
    display: block;
    border: 1px solid #eee;
    padding: 0 12px;
    background-color: #f8f8f8;
    transition-duration: 0s;
    transition: none;
}

#content .crumbs_cate a:hover,
#content .crumbs a:hover,
#content .crumbs_tags a:hover,
#content .comment a:hover,
#content .content_wrap .post_head a:hover,
#content .info.down > a:hover,
#content .sidebar_widget.widget_salong_author ul.widget_img .new_post:hover,
#content .widget_img li a:hover {
    color: #eb0127;
}

#content .crumbs {
    padding: 4px 0 4px 12px;
    color: #999;
}

#content .crumbs a {
    color: #999;
}

#content .crumbs_tags {
    width: 100%;
    padding-top: 12px;
    overflow: hidden;
}

#content .crumbs_tags a {
    padding: 4px 8px;
    background-color: #f8f8f8;
    font-size: 10pt;
}

#content .feature_video {
    margin-bottom: 32px;
    padding: 12px 12px 12px 774px;
    background-color: #fff;
    border: 1px solid #f4f4f4;
    overflow: hidden;
}

#content .feature_video .feature_video_img {
    position: relative;
    float: left;
    width: 800px;
    height: 416px;
    margin: -12px 0 -12px -834px;
    /*border-right: 30px solid #000;*/
}

#content .feature_video_img .blackbox {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 416px;
    background-color: #000;
    z-index: 999;
}

#content .feature_video_img #youkuplayer {
    height: 416px;
}

#content .feature_video_img #youkuplayer i {
    color: #fff;
}

#content .player_control_bar {
    transition: all ease-in-out .4s;
}

#content .skin_0.player_control_bar.show {
    opacity: 1;
    z-index: 100;
}

#content .skin_0 .player_control_bar_toggle {
    float: left;
    width: 30px;
    height: 30px;
    margin: 5px 11px;
    cursor: pointer;
}

#content .skin_0.player_control_bar {
    position: absolute;
    left: 50%;
    bottom: 15px;
    width: 94%;
    max-width: 770px;
    height: 40px;
    background-color: rgba(48,40,44,.5);
    border-radius: 4px;
    opacity: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

#content .skin_0 .player_control_bar_progress {
    position: absolute;
    left: 105px;
    right: 295px;
    top: 19px;
    padding: 0;
    width: auto;
    height: 2px;
    background-color: rgba(48,40,44,.5);
}

#content .skin_0 .player_control_bar_dot {
    z-index: 7;
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 40px;
    padding: 0 9px;
    margin: -19px -9px;
    opacity: 0;
    transition: opacity ease-in-out .5s;
    cursor: pointer;
}

#content .skin_0 .player_control_bar_progress_played {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #09d1b1;
}

#content .skin_0 .player_control_bar_progress_played:after,
#content .skin_0 .player_control_bar_progress_played:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: -19px;
    width: 100%;
    height: 19px;
    background-color: rgba(9,209,177,.3);
    opacity: 0;
    transition: all ease-in-out .4s;
    -webkit-transform: translateY(19px);
    transform: translateY(19px);
}

#content .skin_0 .player_control_bar_progress_played.hover:after,
#content .skin_0 .player_control_bar_progress_played.hover:before {
    opacity: 1;
}

#content .skin_0 .player_control_bar_progress_played:after {
    top: 2px;
    -webkit-transform: translateY(-19px);
    transform: translateY(-19px);
}

#content .skin_0 .player_control_bar_progress_buffer {
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: hsla(0,0%,100%,.5);
}

#content .skin_0 .player_control_bar_click {
    z-index: 6;
    position: absolute;
    width: 100%;
    height: 40px;
    top: -19px;
    cursor: pointer;
}

#content .skin_0 .player_control_bar_progress:after {
    content: ' ';
    display: block;
    position: absolute;
    top: -1px;
    right: 0;
    width: 4px;
    height: 4px;
    background-color: #fff;
}

#content .skin_0 .player_control_bar_current,
#content .skin_0 .player_control_bar_total {
    width: 45px;
    height: 30px;
    margin: 5px 0;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #fff;
}

#content .skin_0 .player_control_bar_current {
    float: left;
}

#content .skin_0 .player_control_bar_total {
    position: absolute;
    right: 240px;
}

#content .skin_0 .player_control_bar_logo {
    display: inline-block;
    float: right;
    margin: 5px 15px 5px 0;
}

#content .player_control_bar_logo_img {
    display: block;
    width: auto;
    max-width: 80px;
    height: 30px;
}

#content .skin_0 .player_control_bar_format_button {
    float: right;
    width: 70px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

#content .skin_0 .player_control_bar_format_select {
    z-index: 20;
    display: none;
    position: absolute;
    top: auto;
    bottom: 30px;
    width: 70px;
    height: auto;
    padding-bottom: 10px;
    cursor: pointer;
}

#content .skin_0 .player_control_bar_format_select .item {
    display: none;
    width: 70px;
    height: 30px;
    background-color: rgba(48,40,44,.5);
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #aaa;
    transition: color ease-in-out .4s;
}

#content .skin_0 .player_control_bar_format_select .item:hover {
    color: #fff;
}

#content .skin_0 .player_control_bar_fullscreen {
    float: right;
    width: 30px;
    height: 30px;
    margin: 5px 0;
    cursor: pointer;
    text-align: center;
}

#content .skin_0 .player_control_bar_volume_button {
    float: right;
    width: 30px;
    height: 30px;
    margin: 5px 10px;
    cursor: pointer;
    text-align: center;
}

#content .skin_0 .player_control_bar_volume_bar {
    z-index: 40;
    display: none;
    position: absolute;
    top: auto;
    bottom: 30px;
    width: 20px;
    margin: 0 5px;
    padding-bottom: 10px;
    cursor: pointer;
}

#content .skin_0 .player_control_bar_volume_control {
    position: relative;
    width: 4px;
    height: 80px;
    margin: 0 auto;
    background-color: hsla(0,0%,100%,.5);
}

#content .skin_0 .player_control_bar_volume_show {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #09d1b1;
}

#content .skin_0 .player_control_bar_volume_click {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#content .feature_video .post_head {
    margin-bottom: 8px;
}

#content .post_head h2 {
    height: 28px;
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
}

#content .post_head h2 a {
    display: block;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#content .info.up span {
    position: relative;
    padding-right: 10px;
    margin-right: 5px;
}

#content .info > span > a,
#content .info > span{
    color: #aaa;
}

#content .info .author img,
#content .info a,
#content .info > span,
#content .video_title h3,
#content .video_title > div,
#content .video_title > section {
    display: inline-block;
    vertical-align: middle;
}

#content .info.up span:before {
    top: 12px;
}

#content .info.up span:before,
#content .info.down span:before {
    position: absolute;
    right: 0;
    content: "";
    height: 10px;
    width: 1px;
    background-color: #ddd;
}

#content .info .author img {
    width: 20px;
    height: 20px;
    margin-right: 6px;
    border-radius: 100%;
}

#content .info.up span:last-child:before,
#content .info.down span:last-child:before {
    width: 0;

}

#content .info.up span:last-child,
#content .info.down span:last-child {
    margin-right: 0;
}

#content .feature_video .excerpt {
    height: 248px;
    overflow: hidden;
    margin-bottom: 30px;
    line-height: 32px;
}

#content .info.down {
    text-align: right;
}

#content .info.down span:before {
    top: 10px;
    right: -20px;
}

#content .feature_video .readmore {
    float: left;
    padding: 4px 20px;
    border: 1px solid #eee;
    font-size: 15px;
    color: #999;
}

#content .feature_video .readmore i {
    margin-right: 6px;
}

#content .info.down > span {
    position: relative;
    margin-right: 26px;
    margin-left: 12px;
}

#content .video_list .video_cat {
    margin-bottom: 32px;
}

#content .video_list .video_title {
    position: relative;
    clear: both;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    margin-bottom: 12px;
    padding-bottom: 6px;
    text-align: right;
    min-height: 40px;
}

#content .video_list .video_title:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 1px;
    content: "";
    background-color: #d11f3c;
}

#content .video_list .video_title h3 {
    position: absolute;
    top: 3px;
    left: 4px;
    padding: 4px 0;
    color: #333;
}

#content .video_title .swiper_pagination .swiper_pagination_bullet_active {
    background-color: #666;
}

#content .video_title .swiper_pagination > span {
    width: 9px;
    height: 9px;
    border-radius: 100%;
    margin: 0 3px;
    display: inline-block;
    cursor: pointer;
    background-color: #ddd;
}

#content .video_title .swiper_pagination > span:hover {
    background-color: #aaa;
}

#content .swiper_pagination_bullet_active,
#content .swiper_pagination_bullet:hover {
    opacity: 1;
}

#content .video_title .swiper_button {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid #eee;
    text-align: center;
    line-height: 16px;
    cursor: pointer;
}

#content .video_title .swiper_button:hover {
    background-color: #eb0127;
    color: #d11f3c;
}

#content .video_title .swiper_button.swiper_button_disabled {
    cursor: auto;
    pointer-events: none;
    color: #bbb;
}

#content .video_list .swiper_container {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    z-index: 1;
    clear: both;
    height: auto;
}

#content .swiper_container > .swiper_wrapper {
    flex-wrap: wrap;
}

#content .swiper_wrapper {
    position: relative;
    display: flex;
    width: auto;
    height: auto;
    z-index: 1;
    box-sizing: content-box;
    transition-duration: 300ms;
}

#content .video_cat .swiper_slide {
    margin-top: 0 !important;
    margin-bottom: 10px;
    flex-shrink: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

#content .video_cat .swiper_slide_active {
    z-index: 999;
}

#content .video_cat .imglayout,
#content .video_cat .imglayout img {
    width: 100%;
    display: block;
}

#content .imglayout {
    position: relative;
    overflow: hidden;
}

#content .video_post .imglayout h3,
#content .video_cat .imglayout h3 {
    top: auto;
    min-height: 36px;
    opacity: 1;
    visibility: visible;
}

#content .imglayout h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

#content .imglayout .player {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 80%;
    display: block;
    z-index: 10;
    background-color: rgba(0,0,0,0);
}

#content .imglayout .player i {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    transform: translate(-50%,-50%);
    border: 3px solid #fff;
    color: #fff;
    text-align: center;
    font-size: 23px;
    text-indent: 2px;
    line-height: 38px;
    opacity: 0;
    visibility: hidden;
}

#content .imglayout:hover .player {
    bottom: 0;
    background-color: rgba(0,0,0,.1);
}

#content .imglayout:hover .player i {
    opacity: 1;
    visibility: visible;
}

#content .imglayout .player i:hover {
    color: #eb0127;
}
